#team {
    position: relative;
    flex-direction: column;
    padding-top: 90px;
    width: 100%;
    background-color: #F7F9FB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}

h1 {
    font-size: 2.4rem;
    font-weight: 700;
    color: #1D2B5F;
}

.TeamIntro {
    margin-top: 20px;
    width: 90%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px 10px 0 10px;
    text-align: left;
    transition: transform 0.3s;
}

#teampic {
    flex: 10;
    width: 95%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    /* background-color: #1D2B5F; */
}

.member {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member1pic,
.member2pic,
.member3pic,
.member4pic {
    background-size: cover;
    width: 24vh;
    height: 32vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.member2pic {
    background-image: url("../img/XinyueHu.jpg");
}

.member3pic {
    background-image: url("../img/YifanWu.jpg");
}

.member4pic {
    background-image: url("../img/QiuYue.jpg");
}

.member1pic:hover,
.member2pic:hover,
.member3pic:hover,
.member4pic:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.member p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

#nametip{
    /* background-color: aqua; */
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#nametip p{
    flex: 1;
    font-size: 20;
    color: #abb1c9;
}